@model IEnumerable<Member>

@{
    ViewData["Title"] = "Team Members";
}
<section id="team-members">
    <header class="page-header">
        <h2>@ViewData["Title"]</h2>
        <button type="button" class="btn btn-add btn-blue">Add Member</button>
    </header>
    <div class="members-list">
        @if (Model != null)
        {
            @foreach (var member in Model)
            {
                <div class="card member">
                    <div class="cleint-image">@member.Image</div>
                    <div class="name">@member.FirstName @member.LastName</div>
                    <div class="jobtitle">@member.JobTitle</div>
                    <div class="email">@member.Email</div>
                    <div class="phone">@member.Phone</div>
                    <div class="role"></div>
                   


                </div>
            }
        }
    </div>
</section>