@model IEnumerable<User>

@{
    Layout = "_PortalLayout";
    ViewData["Title"] = "Team Members";
}
<section id="team-members">
    <header class="page-header">
        <h2>@ViewData["Title"]</h2>
        <button type="button" class="btn btn-add btn-blue">Add Member</button>
    </header>
    <div class="members-list">
        @if (Model != null)
        {
            @foreach (var user in Model)
            {
                <div class="card member">
                    <div class="cleint-image">@user.Image</div>
                    <div class="name">@user.FirstName @user.LastName</div>
                    <div class="jobtitle">@user.JobTitle</div>
                    <div class="email">@user.Email</div>
                    <div class="phone">@user.PhoneNumber</div>
                    <div class="role"></div>
                   


                </div>
            }
        }
    </div>
</section>