@model MembersViewModel

<div class="members-list">
    @if (Model != null)
    {
        @foreach (var member in Model.Members)
        {
            <div class="card member">
                <div class="card-header">
                    <h3>@member.FullName</h3>
                    <button type="button" class="btn-close" data-close="true"></button>
                </div>
                <div class="card-body">
                    <img src="@member.ImageUrl" alt="@member.FirstName @member.LastName" />
                    <p>Email: @member.Email</p>
                    <p>Phone: @member.PhoneNumber</p>
                    <p>Job Title: @member.JobTitle</p>
                    <p>Address: @member.address</p>
                    <p>Date of Birth: @member.DateOfBirth</p>
                    <button class="btn btn-submit">Message</button>
                </div>

            </div>
        }
    }
</div>