@model List<AdminUserViewModel>

<div class="members-list">
 @if (Model != null)
 {
    @foreach (var user in Model)
    {
        @if (user.Role == "Admin")
        {
            <div class="member" data-id="@user.Id">
                <div class="card-header">
                    <img src="@user.ProfileImageUrl" alt="@user.FirstName @user.LastName" />
                    <div class="card-header-pills">
                        <button type="button" data-type="dropdown" data-target="dropdown" class="btn-action">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div id="dropdown" class="dropdown">
                            <div class="dropdown-body">
                                <nav class="dropdown-actions">
                                    <button type="button" data-modal="true" data-target="#editMemberModal" class="dropdown-action">
                                        <i class="fa-duotone fa-solid fa-pen"></i>
                                        <span>Edit</span>
                                    </button>
                                </nav>
                                <div class="divider"></div>
                                <nav class="dropdown-actions">
                                    <button type="button" class="dropdown-action remove" href="#">
                                        <i class="fa-duotone fa-solid fa-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                <h3>@user.Name</h3>
                <p>@user.JobTitle</p>
                <p>@user.Email</p>
                <p>@user.Phone</p>
                <a href="mailto:@user.Email" class="btn btn-primary">Message</a>
                </div>
            </div>
        }
        
    }
    
 }
   else {
            <div class="card">
                <h3>No members found</h3>
                <p>It seems like you don't have any members yet.</p>
                <p>Click the button below to add a new member.</p>
                <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-primary">Add Member</button>
            </div>
   }

   @*  @foreach(var user in Model)
    {
        <div class="user">
            <img class="image-previewer" src="~/images/Admin/Hans.svg" alt="Admin Photo." />
            <div class="name">@user.FirstName @user.LastName</div>
            <div class="role">
                <span>Current Role:</span>
                @{
                    var roles = await userManager.GetRolesAsync(user);
                    var roleList = roles.Any() ? string.Join(", ", roles) : "No roles assigned";
                }
                @roleList
            </div>
        </div>
     } *@
</div>